<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/aboutpage.css">
</head>
<body>
    
<body>
    
    <section class="about">
        <h1>About Us</h1>
        <p>Welcome to Your Website!</p>
        <p>
            Our platform allows you to create and join groups where you can share and view photos with other members. Whether you’re part of a family, a group of friends, or a project team, our website makes it easy to keep everyone connected through shared moments captured in photos.
        </p>
        <h2>Key Features:</h2>
        <ul>
            <li><strong>Create and Join Groups:</strong> Easily create new groups or join existing ones to start sharing photos.</li>
            <li><strong>Share Photos:</strong> Upload and share photos within your groups for all members to see and enjoy.</li>
            <li><strong>Privacy and Security:</strong> We prioritize your privacy and ensure that your shared content is secure.</li>
            <li><strong>Responsive Design:</strong> Access our platform seamlessly on any device, anytime, anywhere.</li>
        </ul>
        <p class="para_join">Join us today and start sharing your moments with those who matter most!</p>
    </section>
    <%- include("includes/footer.ejs") %>
</body>

</body>
</html>