<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/contactpage.css">
</head>
<body>
    <div class="contact-us">
        <h2>Contact Us</h2>
        <hr>
        <div class="contact-item">
            <span class="contact-label">Mail:</span>
            <span class="contact-detail"><a href="mailto:ujjawal3206b@gmail.com">ujjawal3206b@gmail.com</a></span>
        </div>
        <div class="contact-item">
            <span class="contact-label">Mobile no.:</span>
            <span class="contact-detail"><a href="tel:+918950644704">+91-8950644704</a></span>
        </div>
        <div class="contact-item">
            <span class="contact-label">Location:</span>
            <span class="contact-detail">
                NIT Kurukshetra
                <br>
                Computer Engineering
                <br>
                2022-2026
            </span>
        </div>
    </div>
</body>
<%- include("includes/footer.ejs") %>
</html>